<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="movieController" class="com.mycompany.dvd.controller.MovieController">
           <property name="movieServiceInterface" ref="movieService"/>
    </bean>
   
    <bean id="movieService" class="com.mycompany.dvd.service.DefaultMovieService">
           <property name="movieRepositoryInterface" ref="movieRepository"/>
    </bean>


    <bean id="movieRepository" class="com.mycompany.dvd.repository.FileMovieRepository">
    </bean>

</beans>

